PORT=8080
HOST=127.0.0.1
APP_ORIGIN=http://127.0.0.1:8080
DB_PATH=data/quiz.db
ADMIN_PASSWORD=<set a long random value before deploying>
SESSION_SECRET=<set at least 32 random characters before deploying>
# ISO-8601 UTC. Example: Thursday Aug 6, 2026 11:59pm Central = Aug 7 04:59 UTC.
CLOSES_AT=2026-08-07T04:59:00.000Z
QUESTION_DURATION_MS=20000
SUBMIT_GRACE_MS=2000
